.career-counseling1 h2{
         margin-left: 7%;
         margin-top: 10%;
         font-size: 18px;
         font-weight: 100;

        }
        .career-counseling1 p{
         margin-left: 7%;
         align-items: center;
         margin-right: 6%;
         line-height: 1.5;
         margin-top: 3%;
         font-weight: 100;
         margin-bottom: 10%;
        }
.servicePage1R5 {
         margin-top: 10%;
         margin-left: 7%;
         width: 25%;
}
.servicePage1L5 {
         margin-left: -5%;
}